<div class="content-wrapper">
  <div class="subjectPageJt">
    <h2><%= subjectSections[0].title %></h2>
    <p class="lead"><%= subjectSections[0].body %></p>
  </div>
    <div class="row packages">
      <% subscription_plans.forEach(function(plan){ %>
      <div class="col-lg-4">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h3><%= plan.sessionsPerMonth %> Sessions Per Month</h3>
            <div class="pkg-cost"><h2><b>£<%= plan.monthlyCost %></b> <small class="text-muted">/ mo</small></h2></div>

            <div class="pkg-plan-det">
              <ul>
                <% plan.features.list.forEach(function(feature){%>
                <li><%= feature %></li>
                <%});%>
              </ul>
            </div>
             <hr class="my-4">
             <a href="<%= plan.enquiryBtnLnk %>" class="btn btn-lg btn-outline-dark linkButton"><%= plan.enquiryBtnTxt %></a>
          </div>
        </div>
      </div>
      <%});%>
  </div>
</div>
